.logInPageBodyClass{
    background: url("../Photos/LoginBG.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login-form-hr{
    border: 1px solid #c2c2c4;
}

#submitbutton-login-form{
    color: white;
    background-color: #ff7f0f;
    width: 100%;
    padding: 10px 130px;
    border: 0px;
    border-radius: 4px;
}

#submitbutton-login-form:hover{
    background-color: #c96106;
}